
/* Importing the fonts. */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* CSS */

/* Header, start point. */

header { /* Adding comments here becuz this is tricky. */

    /* Make the header sticky. */

    position:-webkit-sticky;
    position:sticky;
    top:0;

    /* Style it. */

    background:rgb(0, 116, 211);
    color:lightcyan;
    width:100%;

    /* Making this a flex container instead of .row so that it doesnt get
    affected by the media queries. */

    display:flex;
    flex-direction:row;

    /* Side scroll on small screen sizes. */

    overflow:auto;
}

header div {
    font-family:"MerriWeather";
}

.navBar {
    list-style-type:none;
    font-size:1.5rem;
    font-family:"Roboto mono";
    display:grid;
    grid-template-columns: repeat(4, 40%);
    gap:3rem;
    text-align:center;
}

.btn {
    border-color:lightskyblue;
    background-color:lightskyblue
}

.btn:hover {
    border-color:lightblue;
    background-color:lightblue;
}

/* Header, end point. */

/* Extra things, start point. */

#logo {
    float:left;
    margin:1em;
    margin-top:0px;
    background-color:whitesmoke;
    width:100px;
    border-radius:100%;
}

p {
    font-family: Verdana;
}

a {
    text-decoration:none;
    color:white;
}

body {
    margin:0;
    background-color: lightblue;
}

body h1 {
    margin: 1em;
}

/* Extra things, end point. */

/* Sign up part, start point. */

#row_1 {
    width:100%;
}

#connectImg {
    width:80%;
}

#connectImg-2 {
    margin:0 auto;
}

form div {
    justify-content:center;
    gap:1rem;
}

#signUpContainer {
    background-color: rgb(41, 4, 110);
    color: white;
    text-align: center;
    border-radius:100px;
    width: 50%;
    padding:2%;
    max-width:600px;
    min-width:420px;
    box-shadow:8px 8px 8px gray;
}

#whyBirthDate {
    color:gray;
}

#youAcceptTerms, #youAcceptTerms a {
    color:gray !important;
}

#accCreate {
    border-color:lightblue;
    background-color:lightblue;
}

#forgotPass{color:black !important;}

/* Sign up part, end point. */

/* Features, start point. */

#moneyImage {
    width:12.4em;
}

.flex {
    display:flex;
    flex-direction:row;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, 33%);
    gap:0.5rem;
}

#feats {
    justify-content:center;
}

.col {
    margin:0px 10px;
    padding:15px;
    text-align:center;
}

.col p{
    max-width:50%;
    margin:0 auto;
}

.col h1 {
    margin:0;
}

#moreFeats {
    font-size:23px;
    text-align: center;    
    width:100%;
    justify-content:center;
    gap:1rem;
}  

.moreFeatsImg {
    width:200px;
    margin-top:50px;
}

#evenMoreFeats {
    margin:1rem;
    text-align:center;
}

#evenMoreFeats div {
    border:2px solid gray;
    padding:1rem;
}

#evenMoreFeats div:nth-child(5) {
    margin:auto;
    border:none;
}

#evenMoreFeats img {
    width:5rem;
}

/* Features, end point. */

/* Media queries, start point. */

@media only screen and (max-width:770px) {
    header * {
        font-size:21px;
    }
}

/* Media queries, end point. */
