/* Table of contents
    1) Importing the fonts.
    2) Global styles /* Just a note, global styles are styles which don't use IDs or Classes.*\
    3) Header
    4) Sign up container
    5) Components
    6) Media queries
*/

/* 1)Importing the fonts. */

/* MerriWeather */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* Roboto Mono */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Global styles */

p {
    font-family: Verdana;
}

a {
    text-decoration:none;
    color:white;
}

body {
    margin:0;
    background-color: lightblue;
}

h1 {
    margin: 1em;
}

button {
    border-color:lightskyblue;
    background-color:lightskyblue
}

button:hover {
    border-color:lightblue;
    background-color:lightblue;
}

form div {
    justify-content:center;
    gap:1rem;
}

/* Putting the grid and flex classes here, since they are used
    again and again, they might as well be considered global styles. */

.flex {
    display:flex;
    flex-direction:row;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, 33%);
    gap:0.5rem;
}

/* 3)Header */

#logo {
    float:left;
    margin:1em;
    margin-top:0px;
    background-color:whitesmoke;
    width:100px;
    border-radius:100%;
}

header { /* Adding comments here because this is tricky. */

    /* Making the header sticky. */

    position:-webkit-sticky;
    position:sticky;
    top:0;

    /* Styles. */

    background:rgb(0, 116, 211);
    color:lightcyan;
    width:100%;

    /* Making this a flex container seperately instead of .row 
    so that it doesnt get affected by the media queries. */

    display:flex;
    flex-direction:row;
}

header div {
    font-family:"MerriWeather";
}

.navBar {
    list-style-type:none;
    font-size:1.5rem;
    font-family:"Roboto mono";
    display:grid;
    grid-template-columns: repeat(4, 40%);
    gap:3rem;
    text-align:center;
    overflow-x: hidden;
}

/* Sign up container */

#row_1 {
    width:100%;
}

#connectImg {
    width:80%;
}

#connectImg-2 {
    margin:0 auto;
}

#signUpContainer {
    background-color: rgb(41, 4, 110);
    color: white;
    text-align: center;
    border-radius:100px;
    width: 50%;
    padding:2%;
    max-width:600px;
    min-width:300px;
    box-shadow:8px 8px 8px gray;
    overflow-x: scroll;
}

#whyBirthDate {
    color:gray;
}

#youAcceptTerms, #youAcceptTerms a {
    color:gray !important;
}

#accCreate {
    border-color:lightblue;
    background-color:lightblue;
}

#forgotPass{color:black !important;}

/* Components */

#moneyImage {
    width:12.4em;
}

#feats {
    justify-content:center;
}

.col {
    margin:0px 10px;
    padding:15px;
    text-align:center;
}

.col p{
    max-width:50%;
    margin:0 auto;
}

.col h1 {
    margin:0;
}

#moreFeats {
    font-size:23px;
    text-align: center;    
    width:100%;
    justify-content:center;
    gap:1rem;
}  

.moreFeatsImg {
    width:200px;
    margin-top:50px;
}

#evenMoreFeats {
    margin:1rem;
    text-align:center;
}

#evenMoreFeats div {
    border:2px solid gray;
    padding:1rem;
}

#evenMoreFeats div:nth-child(5) {
    margin:auto;
    border:none;
}

#evenMoreFeats img {
    width:5rem;
}

/* 6) Media queries */

@media only screen and (max-width:770px) {
    header * {
        font-size:21px;
    }
    h1 {
        font-size:large;
    }
    #evenMoreFeats div{
        padding:0;
    }
}